.container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.p {
    display: flex;
    align-items: center;
}
.p span { font-size: 1.2rem; margin-left: 6px; color: #ddd; }
input[type=text], input[type=editable], input[type=number] {
    font-size: 1.4rem;
    font-family: inherit;
    color: #eee;
    border: 2px solid #202020;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: #444;
    outline: none;
    width: 500px;
}
input[type=text]:focus { background-color: #555;}
.help-box {
    font-size: 1rem;
    border: 2px solid #444;
    padding: 9px;
    width: 510px;
    margin-top: -20px;
}
.quiz-main-info {
    width: 600px;
}
.addQuestion {
    width: 100%;
    padding: 5px 0;
    background-color: #151515;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}
.addQuestion:hover {
    filter: brightness(110%);
    cursor: pointer;
}
input[type=editable], input[type=number] {
    border: none;
    background-color: rgba(0,0,0,0);
    width: 100%;
    text-align: center;
}